.logo {
  position: relative;
  bottom: 115px;
  height: 5%;
  width: 5%;
  right: 275px;
}

html {
  background-color: #990000;
}


.navlinks {
  display: inline;
  padding: 25px;
}

aside {
  float: left;
  width: 20%;
}

aside > .pushdown {
  position: relative;
  top: 50px;
} 

header {
  background-color: white;
  padding: 20px;
  width: 120%;
  height: 150%;
  justify-content:center; 
  position: relative;
  right: 150px;
  bottom: 20px;
}

.mainPhoto { 
  position: relative;
  justify-content: center;
  top: 60px;
  right: 25px;
  width: 50%;
  height: auto;
  }