img {
  text-align: center;
  height: 50%;
  width: 50%;
  padding-right: 125px;
}

:root {
  background-color:  #990000;
}


.navlinks {
  display: inline;
  padding: 25px;
}

aside {
  float: left;
  width: 20%;
}

